node_modules/
.expo/
dist/
web-build/

# OS / editor
.DS_Store
*.log

# native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# secrets
.env
.env.local
.env*.local

# Expo build artifacts
.expo-shared/
